{% extends "base.html.twig" %}
{% block body %}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8">
			<title>Donkey Series</title>
		</head>
		<body>
			<h1>
				{{ website }}
			</h1>
			<h2>
				Program number
				{{ id }}
			</h2>
		</body>
	</html>
{% endblock %}
